@import 'intColor', 'intFont';

* {
    margin: 0;
    padding: 0;
    list-style: none;   
}

/*Maps*/
$fondos: (
    tl: black,
    ns: rgb(63, 58, 58)
);

@each $nombre, $valor in $fondos {
    .fd-#{$nombre} {
        background-color: $valor;
    }
}

$textos: (
    t1: white,
    t2: moccasin,
);

@mixin titles {
    font: $titleStyle;
    color: map-get($textos , t2);
}

/*---------------------------INICIO--------------------------------/

/*------------------------HEADER-------------------------*/
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    
    & &Bg{
        background-image: $fondoColor;
    }

    & &Lista{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        a{
            font: $headerStyle;
            color: $textColor; 
            text-decoration: none;  
            margin: 20px;
        }
    }
    
    & &Lista a:hover{
        font-size: 3rem; 
        color: map-get($textos , t1);
        transition: 0.30s;
    }
}
/*-----------------------AVISOTITLE---------------------*/
.avisoTitle {
    height: 40px;
    display: flex;
    color: map-get($textos , t2);
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: map-get($textos , t2);

    h4{
        font-size: 1rem;
    }
}
/*------------------------MainCarusel--------------------*/

.mainText{
    top: 20%;

    p{
        font: $mainStyle;
        font-size: 2.5rem;
        color: map-get($textos , t1);
        font-weight: 700;
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
}

/*-----------------------ContainerSection----------------*/
.containerSection{
    background-image: $fondoColor;
}

/*---------------------------Aside-----------------------*/

.asideLogo .logo{
    
    height: 140px;
    width: 220px;
}

.asideLogo .logo2{
    
    height: 150px;
    width: 220px;
}

.asideLogo .logo3{
    
    height: 100px;
    width: 300px;

}
.asideLogo .logo4{
    
    height: 100px;
    width: 310px;
}



/*---------------------------Footer----------------------*/
.footer{
    display: flex;
    flex-direction: column;
    height: auto;

    h3{
        padding: 5px;
        text-align: center;
        color: map-get($textos , t1);
    }

    & &Link{
        display: flex;
        flex-direction: column;

        a{
            margin: 3px;
            text-decoration: none;
            color: map-get($textos , t1);
            width: 10%;

            span{
                padding: 5px;
            }
        }

    }

    & &Ley{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: map-get($textos , t1);
    }
}

/*---------------------Productos-----------------------------*/

.titleProducts{
    @extend .avisoTitle;
    height: 50px;

    h1{
        @include titles;
    }
}

#containerMainProducts{
    background-image: url(../img/fondoproductos.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        color: map-get($textos , t2);
    }
}

/*------------------------CONTACTO-------------------------*/

.titleContact{
    @extend .avisoTitle;
    height: 50px;


    h1{
        @include titles;
    }
}

.contacto{
    display: flex;
    justify-content: space-around;

    & &Redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    & &Icon {
        display: flex;
        justify-content: space-around;       
        span{
            padding: 10px;
            font: $mainStyle;
            font-weight: 700;
            color: map-get($textos , t2);
        }
    }

    & &Direccion{
        font: $mainStyle;
        font-weight: 700;
        color: map-get($textos , t2);
    }

    & &Mapa {
        padding: 10px;
    }
}

.containerFormulario{
    display: flex;
    justify-content: center;
    background-image: $fondoColor;

    legend {
        font-size: 2rem;
        color: map-get($textos , t1);
    }

    div {
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: map-get($textos , t1);
        font-size: 1.2rem;

        input{
            height: 27px;
        }
    }

    textarea{
        margin-left: 10px;
        margin-top: 10px;
        width: 96%;
        height: 150px;
    }

    & &Sc {
        display: flex;
        flex-direction: row;
        font-size: 1rem;

        input{
            height: 40px;
            margin-left: 10px;
            border-radius: 5px;
            color: map-get($textos , t1);
            padding: 1px;
            background-color: tomato;
        }

        label {
            margin-top: 8px;
            margin-left: 10px;
        }
    }
}

/*------------------------NOSOTROS----------------------------*/

.historiaTitle{
    @extend .avisoTitle;
    height: 50px;
    

    h1{
        @include titles;
    }
}

.nuestraHistoria {
    display: flex;
    justify-content: center;

    p{
        width: 80%;
        padding: 15px;
        color: $textColor;
        font: $mainStyle;
    }
}

.galeria {
    background-image: $fondoColor;

    & &Fotos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        padding: 5px;

        img{
            width: 100%;
            height: auto;
            filter: grayscale(1);
        }

        img:hover{
            filter: saturate(1);
        }
    }   
}

/*-------------------------CONSEJOS---------------------------*/
.consejo {
    @extend .avisoTitle;
    height: 50px;

    h1 {
        @include titles;
    }

    &Texto {
        background-image: $fondoColor;
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
            padding: 10px;
            width: 70%;
            color: map-get($textos , t1);
            font: $mainStyle;

            p{
                padding: 5px;
                border: 2px black solid;
                border-radius: 10px;
            }
        }
    }
}

/*---------------------MEDIAQ----------------------*/
@media screen and (max-width: 1200px) {
    .containerSection{
        display: none;
    }

    .footerLink {
        justify-content: space-around;
        flex-direction: row;
        margin: 0 auto;

        span{
            display: none;
        }
    }

    .contacto{
        flex-direction: column;

        & &Icon{
            flex-direction: column;
            align-items: center;
        }

        & &Direccion {
            margin-top: 20px;
        }

        & &Mapa{
            margin-left:4rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .headerLista {
        align-items: flex-end;
        flex-direction: column;
    }

    .containerMain p{
        font-size: 1.3rem;
    }

    .containerAside img{
        padding: 10px;
        width: 180px;
        height: 140px;
        }
    
    .contactoIcon img{
        display: none;
    }

    .contactoIcon span {
        display: none;
    }

    .contactoMapa{
        height: 300px;
        width: 400px;
    }

    .mobileNone{
        display: none;
    }

    .fontList a{
        font-size: 1rem;
    }

}

@media screen and (max-width: 520px) {
    .containerMain p{
        font-size: 1rem;
    }

    .avisoTitle h4{
        font-size: 0.7rem;
    }

    .containerTitle h2{
        padding: 5px;
        font-size: 1rem;
    }

    .contactoMapa{
        height: 200px;
        width: 200px;
    }

    .contactoDireccion p{
        font-size: 1rem;
    }

    .containerFormulario {
        display: none;
    }

    .titleContact h1{
        font-size: 1.3rem;
    }

    .historiaTitle h1{
        font-size: 1.3rem;
    }

    .nuestraHistoria p {
        font-size: 1rem;
    }

    .titleProducts h1{
        font-size: 1.3rem;
    }

    .asideLogo img{
        position: relative;
        bottom: 45px;
    }

    .asideLogo .logo{
    
        height: 100px;
        width: 120px;
    }
    
    .asideLogo .logo2{
        
        height: 100px;
        width: 140px;
    }
    
    .asideLogo .logo3{
        
        height: 80px;
        width: 200px;
    
    }
    .asideLogo .logo4{
        
        height: 50px;
        width: 210px;
    }

}
