<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenix Tabaco | Nosotros</title>
    <meta name="keywords" content="tabaco, cigarrillo, fumar, encendedor, pipa, filtro">
    <meta name="description" content="Somos una tabaquería con más de 10 años de trayectoria. Ubicados en Quilmes centro, vendemos todo tipo de productos de calidad y excelencia en el mercado">
    <link rel="shortcut icon" href="../img/Logo2.png">
    <link rel="stylesheet" href="../SASS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body>

    <header class="header">

        <nav class="navbar navbar-expand-lg navbar-dark fd-hd">
            <div class="container-fluid">

                <a href="../index.html"><img src="../img/Logo2.png" width="180" height="200" alt="Logo"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="headerLista">
                        <li class="nav-item fontList">
                            <a href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="./productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="mobileNone" href="./nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="mobileNone" href="./info.html">Consejos</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>


    <div class="historiaTitle fd-tl">
        <h1>Conocé nuestra historia</h1>
    </div>

    <main class="row nuestraHistoria fd-ns">
        <p class="animate__animated animate__backInDown">
            Somos un negocio familiar atendido por su propia dueña, quien cuenta con más de 30 años de experiencia en el rubro.
        </p>
        <p class="animate__animated animate__backInDown">
            Arribamos en Quilmes a principios de 2008 teniendo como objetivo ofrecer la más alta variedad de productos
            para fumadores de puro, pipa o tabaco. También brindamos asesoramiento, tanto para los más expertos, como para
            aquellos que desean iniciarse en este maravilloso mundo.
        </p>
        <p class="animate__animated animate__backInDown">
            En el año 2019 logramos expandirnos, abriendo nuestra segunda sucursal ubicada en la ciudad de Berazategui.
        </p>
        <p class="animate__animated animate__backInDown">Conocé todo lo que tenemos para ofrecerte. No dudes en consultarnos!</p>
    </main>

    <section class="galeria">

        <div class="galeriaFotos">
            <img class="foto1" src="../img/galeria (1).jpg" width="250" height="400" alt="foto">
            <img class="foto2" src="../img/galeria (2).jpg" width="250" height="400" alt="foto">
            <img class="foto3" src="../img/galeria (4).jpg" width="250" height="400" alt="foto">
        </div>
    </section>

    <footer class="footer fd-tl">
        <h3>Nuestras Redes</h3>
        <div class="footerLink">

            <a href="https://www.instagram.com/fenixtabaco/" target="_blank"><img src="../img/insta.png" width="35"
                    height="32" alt="Instagram"><span class="contentFooterRedes">Instagram</span></a>
            <a href="https://www.facebook.com/fenixtabacoquilmes/" target="_blank"><img src="../img/face.png" width="33"
                    height="32" alt="Facebook"><span class="contentFooterRedes2">Facebook</span></a>
        </div>

        <div class="footerLey">
            <p>Fumar es perjudicial para la salud.</p>
            <p>Prohibida su venta a menores de 18 años</p>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>



</body>

</html>